.img-thumbnail{
    height: 70px;
    margin-right: 2%;
}

.img_pagamento{
    height: 80px;
}

footer{
    background-color: black;
    color: white;
    padding: 70px;
}

footer, p{
    font-size: 15px;
    font-family: "Nunito Sans" , sans-serif ;
}

.footer-widget, ul{
    padding-left: 0;
}

.footer-widget, a{
    text-decoration: none;
}

.footer-widget, a:hover,
a:focus{
    text-decoration: none;
    outline: none;
    color: #ffffff;
}

.footer-copyright-text{
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    padding: 20px 0;
}
.footer-copyright-text p{
    color: white;
}

.footer-widget h6{
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.footer-widget ul li{
    line-height: 36px;
    list-style: none;
}
.footer-widget ul li a{
    color: white;
    font-size: 15px;
}
.footer-widget ul li a:hover{
    color: #d9e536;
}

.redes{
    width: 32px;
}